.root{
    /*-fx-font-family: 'Arcade Normal';*/

}
/*.scoreBox {*/
/*    -fx-background-color: #ba55c2;*/
/*    -fx-background-radius: 10;*/
/*    -fx-border-color: white;*/
/*    -fx-margin: 10px;*/
/*    -fx-border-radius: 10;*/
/*    -fx-border-width: 3px;*/
/*    -fx-font-size: 40px;*/
/*    -fx-text-fill: white;*/
/*}*/

.robust-btn:hover {
    -fx-background-color: #a0a0a0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 3, 0, 0, 1);

}

.robust-btn:pressed {
    -fx-background-color: #3e3e3e;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 7, 0, 0, 3);

}
.robust-btn {
    -fx-text-fill: white;
    -fx-background-color: #6b6b6b;
    -fx-font-size: 16px;
    -fx-background-radius: 10px;
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-border-width: 3px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 2);

}